.logo {
    height: 30px;
    background: url(../../assets/images/logo_text.svg) no-repeat;
    background-size: contain;
    background-position: center;
    margin: 20px 10px;
    display: block;
    filter: invert(100%);
}
