@media screen {
	.table {
		background: #fff;
		border-collapse: collapse;
		width: 100%;

		thead {
			th {
				background: #00000005;
			}
		}

		td,
		th {
			padding: 10px;
			white-space: nowrap;
			border: 1px solid #eee;

			&.leftCol {
				position: sticky;
				left: 0;
				background: #fff;
				text-align: center;
				z-index: 101;
			}
		}
	}

	.cell {
		color: #009dff;
		padding: 0 !important;
		& > div {
			padding: 10px;
			border: 1px solid currentColor;
			margin: -1px;
			position: relative;
			z-index: 99;
			background: #009dff05;

			white-space: pre-wrap;
			display: flex;
			flex-direction: column;

			& > div {
				flex: 1;
				p {
					margin: 2px 0;
				}
			}
		}
	}
}

.divider {
	text-align: center;
}

@media print {
	.table {
		width: 100%;
		thead {
			th {
				white-space: nowrap;
			}
		}
		th,
		td {
			padding: 10px;
			border: 1px solid #eee;

			& > div {
				p {
					margin: 2px 0;
				}
			}
		}

		button {
			display: none !important;
		}
	}
}
